* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-font: "Karla", sans-serif;
  --secondary-font: "Inter", sans-serif;
  --text-color: #293264;
}

body {
  font-family: var(--primary-font);
  color: var(--text-color);
  background-color: #F5F7FB;
  min-height: 100vh;
}

.app {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 550px;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Blobs */

.yellow-blob {
  position: absolute;
  top: 0;
  right: 0;
}

.blue-blob {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Start Screen */

.game-title {
  font-size: 1.953rem;
  font-weight: 700;
}

.game-description {
  font-size: 1em;
  margin: 1em 0 2em 0;
}

.btn {
  background-color: #4D5B9E;
  font-family: var(--secondary-font);
  color: #F5F7FB;
  border: none;
  cursor: pointer;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

button:disabled:hover {
  transform: none;
  box-shadow: none;
  cursor: not-allowed;
}

.start-btn {
  font-size: 1rem;
  font-weight: 500;
  border-radius: 15px;
  padding: 18px 55px;
}


/* Quiz Screen */

.question-element {
  margin-bottom: 1.5em;
  border-bottom: 0.79px solid #DBDEF0;
  width: 100%;
}

.question {
  font-size: 1rem;
  font-weight: 700;
}

.answers-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.answers {
  background-color: transparent;
  border: 0.79px solid #4D5B9E;
  border-radius: 7.94px;

  color: var(--text-color);
  font-family: var(--secondary-font);
  font-size: 0.64rem;
  font-weight: 500;

  padding: 4px 20px;
  margin: 1.5em 0;
  min-width: 66px;
  cursor: pointer;
}

.answers.is-selected {
  border: none;
  background-color: #D6DBF5;
}

.answers.correct {
  background-color: #94D7A2;
  border: none;
}

.answers.correct:hover {
  transform: none;
  box-shadow: none;
  cursor: not-allowed;
}

.answers.chosen-incorrect {
  background-color: #F8BCBC;
  opacity: 50%;
}

.answers:disabled {
  opacity: 50%;
}

.quiz-button,
.score-button {
  border-radius: 10px;
  font-size: 0.64rem;
  font-weight: 600;
  padding: 12px 20px;
}

/* Result Screen */

.score-container {
  display: flex;
  align-items: center;
  gap: 2em;
}

.score-text {
  font-family: var(--secondary-font);
  font-size: 0.8rem;
  font-weight: 700;
}